// Project colors

$color-red: #ee2d29;
$color-background: #ecf0f1;
$color-card-border: rgba(0, 0, 0, 0.15);

// Bootstrap overrides
$font-size-base: 16px;
$body-bg: $color-background;

@mixin icon(){
  background-position: center;
  background-repeat: no-repeat;
}

@import "bootstrap";

.form-no-margin {
  margin: 0;
}


.header {
  background-color: $color-red;
  line-height: 48px;
  color: white;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
}

.header-board-name {
  float: left;
}

.header-card-add {
  float: right;
}

.header-card-add-icon {
  height: 48px;
  width: 40px;
  float: left;
  background-image: url("../images/icon-add.svg");
  @include icon;
}

.header-card-add-text {
  float: left;
}

.content {
  padding: 8px;
}

.card {
  background-color: white;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 8px;
}

.card-task {
  min-height: 48px;
  border-top: 1px solid $color-card-border;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  padding: 14px;
}

.card-task-name {
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: hidden;
}

.card-task-checkmark {
  width: 48px;
  height: 48px;
  background-image: url("../images/icon-checkmark.svg");
  @include icon;
  float: left;
}